.App {}

.App-header {
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  background-color: #2685C5;
  padding: 1px;
  color: white;

}

.App-intro {
  background-color: #0565A4;
  font-size: small;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  padding: 10px;
  display:inline;
}
img{  display:inline;}
